*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

a{
  text-decoration: none;
  color: black;
}

.hidden{
  display: none;
}

/**********   header  *********/
.inline-text{
  font-size: 1.5rem;
  color: white;
  margin-right: 3px;
}

/**********   header  *********/


