*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  min-height: 100%;
}

body{
  height: 100%;
}

a{
  text-decoration: none;
  color: black;
}


/**********   header  *********/
.inline-text{
  font-size: 1.5rem;
  color: white;
  margin-right: 3px;
}

/**********   header  *********/


